@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-font:"Montserrat";
  --kor-font:"GangwonEdu_OTFBoldA";
}

section {
  min-height: auto;
}

h2 {
  font-family: var(--main-font);
  font-weight: bold;
}

p {
  font-family: var(--kor-font);
}
p span {
  font-family: var(--main-font);
  font-weight: bold;
  color: #9D9993;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.titletxt {
  display: flex;
  flex-direction: column;
}
.titletxt h2 {
  font-family: var(--main-font);
  font-weight: bold;
}
.titletxt span {
  font-family: var(--kor-font);
  color: #9D9993;
}

#promotionBanner {
  top: 20px;
  right: 80px;
  width: 100%;
  text-align: center;
  background: #A2B1C6;
  color: #000;
  font-size: 18px;
}
#promotionBanner .bannerLink {
  display: block;
  padding: 20px 0;
}
#promotionBanner .btnClose {
  position: absolute;
  top: 20px;
  right: 80px;
}

#hd {
  z-index: 10000;
  width: 100vw;
  background: rgba(255, 255, 255, 0.611);
  backdrop-filter: blur(8px);
}
#hd .shadow {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
#hd .d2 {
  display: none !important;
}
#hd a {
  padding: 10px;
  font-family: var(--main-font);
  font-weight: bold;
}

#swiperI {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#product .best {
  margin-right: 30px;
}
#product .productI {
  width: 100%;
}
#product .textB {
  min-height: 110px;
  padding-top: 40px;
}
#product .textB p {
  line-height: 30px;
}
#product h5 {
  font-family: var(--kor-font);
  font-weight: bold;
  font-size: 1.3rem;
}
#product .flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 13.5rem;
  font-weight: bold;
  -webkit-text-stroke: 1px #7A00FD;
  color: transparent;
  transform: rotate(90deg);
}
#product .flow-text:hover {
  -webkit-text-stroke: transparent;
  color: #9D9993;
}
#product .flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
#product .flow-wrap {
  animation: textLoop 15s linear infinite;
  padding-right: 1.4881vw;
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

#brand {
  width: 100%;
  height: auto;
  padding: 200px 0;
  margin: 100px auto 0;
  background-image: url(../../public/img/brand.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#brand .inner {
  background: rgba(250, 245, 253, 0.9607843137);
  width: 600px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
#brand .inner p {
  font-size: 1.1rem;
  letter-spacing: -1px;
  line-height: 2.5rem;
  padding: 30px 0;
}

#play {
  background-color: #e6e2f5;
}
#play .p {
  padding: 200px;
}
#play .playBox {
  background-color: #fff;
  padding: 60px;
  position: relative;
}
#play .playBox .titletxt > img {
  width: 19rem;
  position: absolute;
  top: 170px;
  border-radius: 50%;
}
#play .playBox .recipeImg {
  width: 80%;
  margin-bottom: 30px;
}
#play .playBox .textB {
  text-align: center;
  margin-left: 35px;
  width: 80%;
  font-size: 1.1rem;
}
#play .playBox .textB span {
  font-family: var(--kor-font);
  padding: 7px 10px;
  border-radius: 50px;
}
#play .playBox .textB span a {
  color: #7659B1;
}
#play .bgstyle {
  background-image: url(../../public/img/play/youtube.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  padding: 247px 0;
}
#play .bgstyle .YT {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #686169;
  font-family: var(--kor-font);
}
#play .bgstyle .YT a {
  color: #686169;
  font-family: "Nanum gothic";
}
#play .bgstyle .YT .YT_Title {
  font-family: "Nanum gothic";
  font-size: 7rem;
}
#play .bgstyle .YT .YT_info {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.68;
}
#play .bgstyle .YT .YT_sub {
  margin-top: 8px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
#play .bgstyle .YT i:hover {
  color: red;
  cursor: pointer;
}
#play .bgstyle .YT .xi-youtube-play:before {
  font-size: 7rem;
}
#play .tea_test img {
  width: 80%;
}
#play .tea_blur {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 226, 245, 0.5843137255);
  backdrop-filter: blur(8px);
  top: 0;
  position: absolute;
  left: 0;
}
#play .tea_test > a:hover .tea_blur {
  display: inline-block;
}

#review {
  padding: 200px 0;
}
#review .reviewB {
  cursor: pointer;
  position: relative;
  width: 23%;
  vertical-align: top;
  padding: 0 0 30px;
  margin: 0 13px 30px;
  border: 1px solid #e1e1e1;
}
#review .revI {
  width: 100%;
  overflow: hidden;
}

#Menu .btnTop {
  position: fixed;
  bottom: 40px;
  right: 0.2%;
  width: 50px;
  display: block;
  text-align: center;
  z-index: 10000;
  font-size: 11px;
  right: 40px !important;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 5px;
  border-radius: 30px;
}
#Menu .btnTop a {
  color: black;
  font-family: var(--main-font);
}
#Menu .btnTop div > a:hover {
  color: #7A00FD;
}
#Menu .btnTop .divider {
  background: #000;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
#Menu .btnTop > div {
  cursor: pointer;
}

.ytp-chrome-top-buttons {
  display: none !important;
}