// body{
//     min-width: 100vw;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

//공통클래스
.PL{
    padding-left: 80rem;
}
:root{
    --mainFont{font-family: 'Montserrat';}
}
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #hd{
        z-index: 10000;
        width: 100vw;
        background: rgba(255, 255, 255, 0.611);
        .shadow{
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          }
        // .d1{

        // }
        .d2{
                display: none !important;
            }
        a{
            padding: 10px;
        }
            
    // #home{
        
    // }
    #product{
        
    }
        
    }
// }