// body{
//     min-width: 100vw;
// @font-face {
//   font-family: 'GothicA1-Light';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// };
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
:root{
  // font
  --main-font:'Montserrat';
  --kor-font:'GangwonEdu_OTFBoldA';
  // color
  
}
//공통클래스
section{
    min-height: auto;
}
h2{
  font-family: var(--main-font);
  font-weight: bold;
}
p{
  font-family: var(--main-font);
  font-family: var(--kor-font);
  span{font-family: var(--kor-font),var(--main-font);color: #9D9993;}
}
li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
.titletxt{
  display: flex;
  flex-direction :column;
  h2{
    font-family: var(--main-font);
    font-weight: bold;
  }
  span{
    font-family: var(--kor-font);
    color: #9D9993;
  }
}
.p{
  padding:200px  ;
}
  #promotionBanner{
    
    top: 20px;
    right: 80px;
    width: 100%;
    text-align: center;
    background: #A2B1C6;
    color: #000;
    font-size: 18px;
    .bannerLink{
      display: block;
      padding: 20px 0;
    }
    .btnClose{
      position: absolute;
      top: 20px;
      right: 80px;
    }
  }
  #hd{
        z-index: 10000;
        width: 100vw;
        background: rgba(255, 255, 255, 0.611);
        backdrop-filter: blur(8px);
        .shadow{
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          }
        // .d1{

        // }
        .d2{
                display: none !important;
            }
        a{
            padding: 10px;
            font-family:var(--main-font);
            font-weight: bold;
        }
    }
    
   
    #product{
      .best{
        margin-right: 30px;
      }
      .productI{
        width: 100%;
      }
      .textB{
        // padding: 40px 18px;
        min-height: 110px;
        padding-top: 40px;
        // padding-right: 18px;
        p{
          line-height: 30px;
        }
      }
      h5{
        font-family: var(--kor-font);
        font-weight: bold;
        font-size: 1.3rem;
      }

      .flow-text {
          display: flex;
          flex: 0 0 auto;
          white-space: nowrap;
          overflow: hidden;
          transition: 0.3s;
          font-size: 13.5rem;
          font-weight:bold;
          -webkit-text-stroke: 1px#7A00FD ;
          color: transparent;
          transform: rotate(90deg);
          // margin: 0 -498px 0 -240px;
          
      }
      .flow-text:hover {
        -webkit-text-stroke: transparent ;
          color: #9D9993;
      }
      .flow-text:hover .flow-wrap {
        animation-play-state: paused;
        cursor: pointer;
      }
      .flow-wrap {
        animation: textLoop 15s linear infinite;
        padding-right: 1.4881vw;
      }
      
      @keyframes textLoop {
        0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }
      } 
    }
    
    #brand{
      width: 100%;
      height: auto;
      padding: 200px 0;
      margin: 100px auto 0;
      background-image: url(../../public/img/brand.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .inner{
        background: #faf5fdf5;
        width: 600px;
        height: 400px;
        margin: 0 auto;
        text-align: center;
        
        p{
          font-size: 1.1rem;
          letter-spacing: -1px;
          line-height: 2.5rem;
          padding: 30px 0;
        }
      }
      span{
        font-weight: bold
      };
    }
    #play{
      background-color: #e6e2f5;
      
      .playBox{
        background-color: #fff;
        padding: 60px;
        position: relative;
          .titletxt>img{
            width: 19.5rem;
            position: absolute;
            top: 150px;
            border-radius: 50%;
          }
      }
      //유튜브
      .bgstyle{
        background-image: url(../../public/img/play/youtube.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;height: 80vh;
        padding: 247px 0;
        .YT{
          position: absolute;
          left: 0;right: 0;
          margin: 0 auto;
          color: #686169;
          font-family: var(--kor-font);
          a{
            color: #686169;
            font-family: 'Nanum gothic';
          }
          .YT_Title{
            font-family: 'Nanum gothic';
            font-size: 7rem;
          }
          .YT_info{
            margin-top: 20px;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 0.03em;
            line-height: 1.68;
          }
          .YT_sub{
            margin-top: 8px;
            font-size: 18px;
            letter-spacing: 0.02em;
            line-height: 1.5;
          }
          i:hover{
            color: red;
            cursor: pointer;
          }
          .xi-youtube-play:before {
            font-size: 7rem;
          }
        }
       
      }
      .tea_test img{
        width: 80%;
      }
        .tea_blur{
          display: none;
          width: 100%;
          height: 100%;
          background-color: #e6e2f595;
          backdrop-filter: blur(8px);
          top: 0;
          position: absolute;
          left: 0;
         }
         .tea_test>a:hover .tea_blur{ display: inline-block}
    }
    
    
    #review{
      padding: 200px ;
      background-color: #ECECEC;
      .reviewBox{
        background-color: #fff;
        padding: 60px;
      }
    }

    #Menu{
      .btnTop {
        position: fixed;
        bottom: 40px;
        right: 0.2%;
        width: 50px;
        display: block;
        text-align: center;
        z-index: 10000;
        font-size: 11px;
          a{
            // color: #000 ;
            color: black;
            font-family: var(--main-font);
          }
          div>a:hover{
            color: #7A00FD;

          }  
        right: 40px !important;
        background: rgba(255,255,255,0.5);
        padding: 20px 5px;
        border-radius: 30px;
      }
      .btnTop .divider {
        background: #000;
        width: 100%;
        height: 1px;
        margin: 20px 0;
      }
      .btnTop > div {
        cursor: pointer;
      }
    }
    
#footer{
  
  text-align: left;
    
    .tbold{
      font-size: 1.6rem;
      margin-top: 16px;
    }
    ul{
      padding:0;
    }
    li{
      font-family: var(--kor-font-font);
      font-size: 1.1rem;
    }
    .csInfo{
      border-bottom: 1px solid #ECECEC;
      // padding: 0 0 20px;/
    }
    span{ margin-left: 10px;}
    
    p{margin-top: 16px;}
    .snsP{padding: 33px 0 0 56px}
    .footer_sns img{
      padding:16px 16px;
    }
  }

// }