@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-font:"Montserrat";
  --kor-font:"GangwonEdu_OTFBoldA";
}

section {
  min-height: auto;
}

h2 {
  font-family: var(--main-font);
  font-weight: bold;
}

p {
  font-family: var(--kor-font);
}
p span {
  font-family: var(--main-font);
  font-weight: bold;
  color: #9D9993;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.titletxt {
  display: flex;
  flex-direction: column;
}
.titletxt h2 {
  font-family: var(--main-font);
  font-weight: bold;
}
.titletxt span {
  font-family: var(--kor-font);
  color: #9D9993;
}

#hd {
  z-index: 10000;
  width: 100vw;
  background: rgba(255, 255, 255, 0.611);
}
#hd .shadow {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
#hd .d2 {
  display: none !important;
}
#hd a {
  padding: 10px;
  font-family: var(--main-font);
  font-weight: bold;
}

#swiperI {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#product .textB {
  min-height: 110px;
  padding-top: 40px;
}
#product .textB p {
  line-height: 30px;
}
#product h5 {
  font-family: var(--kor-font);
  font-weight: bold;
  font-size: 1.3rem;
}
#product .flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 13.5rem;
  font-weight: bold;
  -webkit-text-stroke: 1px #7A00FD;
  color: transparent;
  transform: rotate(90deg);
  margin: 0 -475px 0 -380px;
}
#product .flow-text:hover {
  -webkit-text-stroke: transparent;
  color: #9D9993;
}
#product .flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
#product .flow-wrap {
  animation: textLoop 15s linear infinite;
  padding-right: 1.4881vw;
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

#brand {
  width: 100%;
  height: auto;
  padding: 200px 0;
  margin: 100px auto 0;
  background-image: url(../../public/img/brand.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#brand .inner {
  background: rgba(250, 245, 253, 0.9607843137);
  width: 600px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
#brand .inner p {
  font-size: 1.1rem;
  letter-spacing: -1px;
  line-height: 2.5rem;
  padding: 30px 0;
}

#play {
  background-color: #e6e2f5;
}
#play .p {
  padding: 200px;
}
#play .playBox {
  background-color: #fff;
  padding: 60px;
  position: relative;
}
#play .playBox .titletxt > img {
  width: 310px;
  position: absolute;
  top: 170px;
  border-radius: 50%;
}
#play .playBox .recipeImg {
  width: 80%;
  margin-bottom: 30px;
}
#play .playBox .textB {
  text-align: center;
  margin-left: 35px;
  width: 80%;
  font-size: 1.1rem;
}
#play .playBox .textB span {
  font-family: var(--kor-font);
  padding: 7px 10px;
  border-radius: 50px;
}
#play .playBox .textB span a {
  color: #7659B1;
}
#play .h_playBox {
  background-color: #fff;
  padding: 60px;
  margin: 0;
  width: 800px;
}

#review {
  padding: 200px 0;
}